
body {
	font-family: "Georgia", "Times", "sans-serif";
	font-size: 100%;
	background-image: url("neuralnets.jpg");
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}

h1 {
	font-size: 8vw;
	font-stretch: ultra-expanded;
	font-weight: bolder;
	font-style: italic;
	font

}

h2 {
	font-size: 4vw;

}

h3 {
	font-size: 3vw;
}

h4 {
	font-size: 2vw;
}

h5 {
	font-size: 1vw;
}

p {
	font-size: 1em;
	text-align: 
}


#box-one {
	background-color: #C70039;
}

#box-two {
	background-color: #FFC300;
	padding: 10px;
}