
body {
	font-family: "Georgia", "Times", "sans-serif";
	font-size: 100%;
	background-image: url("neuralnets.jpg");
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}

h1 {
	font-size: 8vw;
	font-stretch: ultra-expanded;
	font-weight: bolder;
	font-style: italic;
	color: #FFFFFF;

}

h2 {
	font-size: 4vw;
	color: #FFFFFF;
}

h3 {
	font-size: 3vw;
	color: #FFFFFF;
}

h4 {
	font-size: 2vw;
	color: #FFFFFF;
}

h5 {
	font-size: 2vw;
	color: #FFFFFF;
}

p {
	display: block;
	font-size: 1em;
	color: #FFFFFF;
}

ol {
	color: #FFFFFF;
}


ul {
	color: #FFFFFF;
}

dl {
	color: #FFFFFF;
}

#box-one {
	background-color: rgba(255,195,0,0.75);
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

#box-two {
	background-color: rgba(177,255,210,0.75);
	padding: 7px;

}

#box-three {
	background-color: rgba(74, 237, 255,0.75);
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

#box-four {
	background-color: rgba(74, 164, 255,0.75);
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

#box-five {
	background-color: rgba(255, 74, 119,0.75);
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

#box-six {
	background-color: rgba(77, 74, 255,0.75);
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

#box-seven {
	background-color: rgba(0, 180, 71,0.75);
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

#box-eight {
	background-color: rgba(89, 173, 0,0.75);
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}







